<h1>Inicia sesi&oacute;n</h1>

<% form_tag session_path do -%>
<p><%= label_tag 'E-mail' %><br />
<%= text_field_tag 'email', @email %></p>

<p><%= label_tag 'password' %><br/>
<%= password_field_tag 'password', nil %></p>

<!-- Uncomment this if you want this functionality
<p><%= label_tag 'remember_me', 'Remember me' %>
<%= check_box_tag 'remember_me', '1', @remember_me %></p>
-->

<p><%= submit_tag 'Iniciar sesión' %></p>
<% end -%>
