<% form_for @user do |f| %>
	
	<p>
		<%= f.label :name, "Nombre Completo" %>
		<%= f.text_field :name %>
	</p>
	
	<p>
		<%= f.label :email, "Correo electrónico" %>
		<%= f.text_field :email %>
	</p>
	
	<p>
		<%= f.label :password, "Contraseña" %>
		<%= f.password_field :password %>
	</p>
	
	<p>
		<%= f.submit "Actualizar" %>
	</p>
	
<% end %>

