<div id="register_form">
	<h1>Crea tu cuenta en Administraci&oacute;n de Condominios</h1>
	<h2 id="casita1">Datos de usuario</h2>

	<% form_for @user, :html => { :multipart => true } do |f| -%>
	  <%= f.error_messages :header_message => "Intenta de nuevo" %>
	  <table>
  	<tr>
  		<td><%= f.label :name, "Nombre Completo", :class => "label" %></td>
  		<td><%= f.text_field :name, :class => "text_field" %></td>
  	</tr>

  	<tr>
  		<td><%= f.label :email, "Correo electr&oacute;nico" , :class => "label"%></td>
  		<td><%= f.text_field :email, :class => "text_field" %></td>
  	</tr>

  	<tr>
  		<td><%= f.label :password, "Contraseña" , :class => "label"%></td>
  		<td><%= f.password_field :password, :class => "text_field" %></td>
  	</tr>

  	<tr>
  		<td><%= f.label :password_confirmation, "Confirmar contraseña" , :class => "label"%></td>
  		<td><%= f.password_field :password_confirmation, :class => "text_field" %></td>
  	</tr>
  	</table>

	<p><%= image_submit_tag "/images/siguiente.png", :class => "next" %></p>
	
	<% end -%>
</div>
