<div id="user_details">
	<div class="right">
		<p>
			<span class="property">Nombre</span><br/>
			<%= current_user.name %>
		</p>
	
		<p>
			<span class="property">Correo electr&oacute;nico</span><br/>
			<%= current_user.email %>
		</p>		
	</div>
	
	<div class="left">
		<div id="user_companies">		
			<h2>Mis Compañ&iacute;as</h2>		
			<% for company in current_user.companies do %>
				<span id="name"><%= link_to company.name, company_path(company) %></span><span id="delete"><%= link_to "Eliminar", company_path(company), :confirm => '¿Estás seguro de querer eliminar esta compañia?', :method => :delete %></span><br/>
				<span id="description"><%= company.description %></span><br/><br/>
			<% end %>
		</div>
	</div>
	
	<div class="clear"></div>
</div>
