<% form_for ([@company, @experience]) do |f| %>
  <%= f.error_messages %>
  <table>
		<tr>
		  <td><%= f.label :name, "Nombre del condominio", :class => "label" %></td>
		  <td><%= f.text_field :name, :class => "text_field" %></td>
		</tr>
		<tr>
		  <td><%= f.label :description, "Descripci&oacute;n", :class => "label" %></td>
		  <td><%= f.text_area :description, :class => "text_area" %></td>
		</tr>
		<tr>
		  <td><%= f.label :start_year, "Año de inicio", :class => "label" %></td>
		  <td><%= f.text_field :start_year, :class => "text_field" %></td>
		</tr>
		<tr>
		  <td><%= f.label :end_year, "Año de finalizaci&oacute;n", :class => "label" %></td>
		  <td><%= f.text_field :end_year, :class => "text_field" %></td>
		</tr>
		<tr><td><%= image_submit_tag "/images/agregar.png" %> <%= link_to "Cancelar", @company, :class => "cancel" %></td></tr>
	</table>
<% end %>
