<% form_for @searchlogic do |f| %>
<div id="search_left" class="left">
	<p>
		<%= f.label :name_like, "Nombre" %><br/>
		<%= f.text_field :name_like %>
	</p>
	
	<p>
		<%= f.label :complex_type, "Tipo de complejos que administra", :class => "label" %><br/>
		<% for complex_type in ComplexType.find(:all) %>
		<%= check_box_tag"company[complex_type_ids][]", complex_type.id, false, :class=>  "checkbox" %>
		<%= complex_type.name %><br/>
		<% end %>
	</p>
</div>
<div id="search_right" class="right">
	<p>
    <%= f.label :country_id_equals, "País", :class => "label" %><br />
    <%= collection_select :search, :country_id_equals, Country.all, :id, :name, :include_blank => "País", :class => "combo_box" %>
  </p>
  
  <p>
    <%= f.label :state_id_equals, "Estado", :class => "label"  %><br />
    <%= collection_select :search, :state_id_equals, State.all, :id, :name, :include_blank => "Estado", :class => "combo_box" %>
  </p>
  
  <p>
    <%= f.label :city_like, "Ciudad", :class => "label" %><br />
    <%= f.text_field :city_like, :class => "text_field" %>
  </p>
  
  <p id="search_submit">
		<%= f.submit "Buscar" %>
	</p>
  
</div>

<div class="clear"></div>	
<% end %>

<% if params[:search] %>
	<% for company in @searchlogic do %>
	<div id="company_list">	
		<div id="company_name">
			<img style="float:left;" src="/images/lilhouse.png"/>
			<h2><%= link_to company.name, company %></h2>
			<div id="company_logo">			
				<%= image_tag company.logo.url %>
			</div>
		</div>
			<div id="company_price" class="info">
				<span>Precio</span><br/>
				<%= company.price %>
			</div>
			<div id="company_city" class="info">
				<span>Ubicaci&oacute;n</span><br/>
				<%= company.city %>,
				<% if company.state %>
					<%= company.state.short %>,
				<% end %>			
				 <%= company.country.name %>
			</div>
			<div id="company_complex" class="info">
				<span>Tipo de Condominio</span><br/>
				<%= company.complex_types.collect{|c| c.name}.join(", ") %>
			</div>
			<div id="division"><img src="/images/division.png"/></div>
	</div>
	<% end %>
<% end %>
