<div id="company_details">
	<div id="company_name">
 		<img src="/images/lilhouse.png"/>
		<h1 class="left"><%= @company.name %></h1>
		<% if session[:user_id] == @company.user_id %>		
			<%= link_to "Editar Compañía", edit_company_path(@company), :id => "edit" %>		
		<% end %>
		<div class="clear"></div>
		<div id="company_logo" class="right">
			<%= image_tag @company.logo.url(:small) %>
		</div>
		<div id="company_description" class="detail left">
		<%= @company.description %>
		</div>
		<div class="clear"></div>
	</div>	
	
	<div class="left">
		<div id="company_details_left">
		
			<div id="company_location" class="detail">
				<div class="detail_name">Ubicaci&oacute;n</div>
				<%= @company.city %>, <%= @company.country.name %>
			</div>
			
			<div id="company_contact" class="detail">
				<div class="detail_name">Contacto</div>
				<%= @company.phone %><br/>
				<%= mail_to @company.user.email %>
			</div>
			
			<div id="company_complex" class="detail">
				<div class="detail_name">Tipo de condominios</div>
				<% for complex in @company.complex_types do %>
				<ul><li><%= complex.name %></li></ul>
				<% end %>
			</div>
			
			<div id="company_tools" class="detail">
				<% if !@company.tools.empty? %>
					<div class="detail_name">Servicios</div>
					<ul>
						<% for tool in @company.tools do %>
							<% if logged_in? %>					
								<li><span class="rest_in_place" url="<%= company_tool_path(@company.id, tool) %>" object="tool" attribute="name"><%= tool.name %></span>. <span class="rest_in_place" url="<%= company_tool_path(@company.id, tool) %>" object="tool" attribute="description"><%= tool.description %></span><%= link_to "Borrar", company_tool_path(@company.id, tool), :confirm => '¿Estás seguro de querer eliminar este elemeto?', :method => :delete, :class => "options" %></li>
								<% else %>
									<li><%= tool.name %>. <%= tool.description %></li>
							<% end %>
					<% end %>
					</ul>
				<% end %>
				<% if session[:user_id] == @company.user_id %>
					<%= link_to "Agregar nuevo servicio", new_company_tool_path(@company.id), :class => "options" %>			
				<% end %>
			</div>			
	
			<div id="company_price" class="detail">
				<div class="detail_name">Precio</div>
				<%= @company.price %>
			</div>
		</div>
	</div>	
	
	<div class="right">
		<div id="company_details_right">		
			<div id="company_experience" class="detail">
				<% if !@company.experiences.empty? %>
					<table cellspacing="0">
						<tr>							
							<th id="titlel"></th>
							<th id="titler"></th>
						</tr>
						<tr>							
							<th id="title" colspan=2>Condominios que ha administrado</th>
						</tr>
						<tr>
							<th>Nombre</th>
							<th>Tiempo</th>
						</tr>
						<% for experience in @company.experiences do %>
							<tr>	
								<td id="experience"><%= experience.name %></td>								
								<td id="start_year"><%= experience.start_year %> - <%= experience.end_year %></td>
							<% if session[:user_id] == @company.user_id %>
								<td><%= link_to "Editar", edit_company_experience_path(@company.id, experience), :class => "options" %></td>
								<td><%= link_to "Borrar", company_experience_path(@company.id, experience), :confirm => '¿Estás seguro de querer eliminar este elemento?', :method => :delete, :class => "options" %></td>								
							<% end %>
							</tr>
						<% end %>
						<tr>							
							<td id="datal"></td>														
							<td id="datar"></td>
						</tr>
					</table>
				<% end %>
				<% if session[:user_id] == @company.user_id %>
					<%= link_to "Agregar nueva experiencia", new_company_experience_path(@company.id) %>
				<% end %>
			</div>			
		</div>
	</div>
	
</div>

<div class="clear"></div>
