<div id="company_details">
	<div id="company_details_top">
		<h1 class="left"><%= @company.name %></h1>
		<% if logged_in? && current_user.company.id == @company.id %>
			<%= link_to "Editar", edit_company_path(@company), :id => "edit" %>		
		<% end %>
		<div class="clear"></div>
		<div id="company_logo" class="right">
			<%= image_tag @company.logo.url(:small) %>
		</div>
		<div id="company_description" class="detail left">
			<%= @company.description %>		
		</div>		
		<div class="clear"></div>
	</div>	
	
	<div class="clear"></div>
	<div id="company_details_left" class="left">		
		<div id="company_location" class="detail">
			<div class="detail_name">Ubicaci&oacute;n</div>
			<%= @company.city %>,
			<% if @company.state %>
				<%= @company.state.name %>,
			<% end %>				
			 <%= @company.country.name %>
		</div>
		
		<div id="company_contact" class="detail">
			<div class="detail_name">Contacto</div>
			<%= @company.phone %><br/>
			<%= mail_to @company.users.first.email %>
		</div>
		
		<div id="company_complex" class="detail">
			<% if !@company.complex_types.empty? %>
				<div class="detail_name">Tipo de condominios</div>
				<ul>
				<% for complex in @company.complex_types do %>
					<li><%= complex.name %></li>					
				<% end %>
				</ul>
			<% end %>
		</div>
		
		<% if has_tools? %>
			<div id="company_tools" class="detail">
				<div class="detail_name">Servicios</div>
					<ul>
						<% if @company.security %><li>Seguridad</li><% end %>
						<% if @company.cleaning %><li>Limpieza</li><% end %>						
						<% if @company.personnel %><li>Administración de Personal</li><% end %>						
						<% if @company.providers %><li>Administración de Proovedores</li><% end %>
						<% if @company.finance %><li>Contabilidad y Finanzas</li><% end %>
						<% if @company.money_collect %><li>Cobranza</li><% end %>
						<% if @company.procedures %><li>Trámites</li><% end %>
						<% if @company.maintenance %><li>Mantenimiento</li><% end %>
						<% if @company.gardening %><li>Jardinería</li><% end %>
					<% for tool in @company.tools do %>
						<li><%= tool.name %></li>
					<% end %>
					</ul>								
			</div>			
		<% end %>
		
		<% if has_tools? %>
			<div id="company_tools" class="detail">
				<div class="detail_name">Software</div>
					<ul>
					<% for software in @company.softwares do %>
						<li><%= software.name %></li>
					<% end %>
					</ul>								
			</div>			
		<% end %>
	
		<div id="company_price" class="detail">
			<div class="detail_name">Precio</div>
			<%= @company.price %>
		</div>
	</div>
	
	<div class="right">
		<div id="company_details_right">		
			<div id="company_experience" class="detail">
				<% if !@company.experiences.empty? %>
					<table cellspacing="0">
						<tr>
							<th id="titlel"></th>	
							<th id="titler"></th>							
						</tr>
						<tr>
							<th id="title" colspan=2>Condominos que ha administrado</th>							
						</tr>
						<tr>
							<th>Nombre</th>
							<th>Tiempo</th>
						</tr>
						<% for experience in @company.experiences do %>
							<tr>	
								<td id="experience"><span class="tiptip" title="<%= experience.description %>"><%= experience.name %></span></td>
								<td id="start_year"><%= experience.start_year %> - <%= experience.end_year %>
									<% if logged_in? && current_user.company.id == @company.id %>
										<%= link_to "Editar", edit_company_experience_path(@company.id, experience), :class => "options" %>
										<%= link_to "Borrar", company_experience_path(@company.id, experience), :confirm => '¿Estás seguro de querer eliminar este elemento?', :method => :delete, :class => "options" %>
								</td>
									<% end %>
							</tr>
						<% end %>
						<tr>							
							<td id="datal"></td>														
							<td id="datar"></td>
						</tr>
					</table>
				<% end %>
				<% if logged_in? && current_user.company.id == @company.id %>
					<%= link_to "Agregar nueva experiencia", new_company_experience_path(@company.id) %>
				<% end %>
			</div>			
		</div>
	</div>
	
</div>

<div class="clear"></div>
