<div id="company_details">
	<div id="company_name">
		<img src="/images/lilhouse.png" style="float:left;"/>
		<h1><%= @company.name %></h1>
		<div id="company_logo" class="right">
			<%= image_tag @company.logo.url(:small) %>
		</div>
	</div>
	
	<div class="left">
		<div id="company_details_left">	
			<div id="company_description" class="detail">
				<span>Descripci&oacute;n</span><br/>
				<%= @company.description %>
			</div>
	
			<div id="company_location" class="detail">
				<span>Ubicaci&oacute;n</span><br/>
				<%= @company.city %>, <%= @company.country.name %>
			</div>
	
			<div id="company_complex" class="detail">
				<span>Tipo de condominios</span><br/>
				<% for complex in @company.complex_types do %>
				<ul><li><%= complex.name %></li></ul>
				<% end %>
			</div>	
	
			<div id="company_price" class="detail">
				<span>Precio</span><br/>
				<%= @company.price %>
			</div>
	
			<div id="company_tools" class="detail">
				<% if !@company.tools.empty? %>
					<span>Herramientas y Servicios</span><br/>
					<ul>
						<% for tool in @company.tools do %>
							<% if logged_in? %>					
								<li><span class="rest_in_place" url="<%= company_tool_path(@company.id, tool) %>" object="tool" attribute="name"><%= tool.name %></span>. <span class="rest_in_place" url="<%= company_tool_path(@company.id, tool) %>" object="tool" attribute="description"><%= tool.description %></span><%= link_to "Borrar", company_tool_path(@company.id, tool), :confirm => '¿Estás seguro de querer eliminar este elemeto?', :method => :delete %></li>
								<% else %>
									<li><%= tool.name %>. <%= tool.description %></li>
							<% end %>
					<% end %>
					</ul>
				<% end %>
				<% if session[:user_id] == @company.user_id %>
					<%= link_to "Agregar nueva herramienta", new_company_tool_path(@company.id) %>			
				<% end %>
			</div>
	
			<div id="company_contact" class="detail">
				<span>Contacto</span><br/>
				<%= @company.phone %><br/>
				<%= @company.user.email %>
			</div>
		</div>
	</div>	
	<div class="right">
		<div id="company_details_right">	
			<div id="company_experience" class="detail">
				<% if !@company.experiences.empty? %>
					<span>Condominios que ha administrado</span><br/>
					<table cellspacing="5" cellpading="5">
						<tr><th>Nombre</th><th>Descripci&oacute;n</th><th>Desde</th><th>Hasta</th></tr>
						<% for experience in @company.experiences do %>
							<tr>
								<td><%= experience.name %></td>
								<td><%= experience.description %></td>
								<td><%= experience.start_year %></td>
								<td><%= experience.end_year %></td>
							<% if session[:user_id] == @company.user_id %>
								<td>
									<%= link_to "Editar", edit_company_experience_path(@company.id, experience) %>
									<%= link_to "Borrar", company_experience_path(@company.id, experience), :confirm => '¿Estás seguro de querer eliminar este elemeto?', :method => :delete %>
								</td>
							<% end %>
						<% end %>
					</table>
				<% end %>
				<% if session[:user_id] == @company.user_id %>
					<%= link_to "Agregar nueva experiencia", new_company_experience_path(@company.id) %>
				<% end %>
			</div>
		</div>
	</div>
	
</div>

<div class="clear"></div>

<% if session[:user_id] == @company.user_id %>
	<p>
		<%= link_to "Editar Compañía", edit_company_path(@company) %>		
	</p>
<% end %>
