<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Administración de Condominios") %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'ui.selectmenu' %>
    <%= stylesheet_link_tag 'jquery-ui-1.7.2.custom' %>
    <%= stylesheet_link_tag 'tipTip' %>
    <%= javascript_include_tag 'jquery-1.3.2' %>
    <%= javascript_include_tag 'application' %>
		<%= javascript_include_tag 'jquery.tipTip.minified' %>
    <%= javascript_include_tag 'jquery-ui-1.7.2.custom.min' %>
    <%= javascript_include_tag 'jquery.ufvalidator-1.0.4' %>
    <%= javascript_include_tag 'ui.selectmenu' %>
    <%= yield(:head) %>
   
  </head>
  <body>
    <div id="main_container">      
      <div id="sub_container">
      	<div id="signin">					
					<% if admin? %>
						<p>Bienvenido <%= link_to current_user.name, user_path(current_user) %> | <%= link_to "Mi Compañía", company_path(current_user.company) %><%= link_to image_tag("/images/logoutbtn.png", :alt => "Salir"), logout_path %></p>
						<% elsif logged_in? %>
							<p>Bienvenido <%= link_to current_user.name, user_path(current_user) %> | <%= link_to "Mi Compañía", company_path(current_user.company) %><%= link_to image_tag("/images/logoutbtn.png", :alt => "Salir"), logout_path %></p>
						<% else %>
							<%= link_to image_tag("/images/signupbtn.png"), signup_path, :class => "options" %>
							<%= link_to image_tag("/images/loginbtn.png"), "#", :class => "signin options" %>
					<% end %>					
		 		</div>
		 		
		 		<fieldset id="signin_menu">
		 			<% form_tag session_path do -%>
						<p><%= label_tag 'E-mail' %><br />
						<%= text_field_tag 'email', @email %></p>

						<p><%= label_tag 'password' %><br/>
						<%= password_field_tag 'password', nil %></p>

						<!-- Uncomment this if you want this functionality
						<p><%= label_tag 'remember_me', 'Remember me' %>
						<%= check_box_tag 'remember_me', '1', @remember_me %></p>
						-->						
						<p id="loginbtn">
							<span><a id="reset_password" href="#">¿Olvidaste tu contraseña?</a></span><%= image_submit_tag "/images/login_small.png" %>
						</p>
					<% end -%>
		  	</fieldset>
		  	
		  	<div id="reset_password_form" title="¿Olvidaste tu contraseña?">
		  		<p>Si olvidaste tu contraseña no te preocupes. Escribe tu correo electrónico y te enviaremos una nueva</p>
		  	
					<% form_for(:password, :url => passwords_path) do |f| %>
	
						<p>
							<%= label_tag :email, "Correo electrónico" %><br/>
							<%= text_field_tag :email %>
						</p>
			
						<p>
							<%= submit_tag "Enviar" %>
						</p>	
					<% end %>
				</div>

  
  	    <div id="header">
   	 			<div id="left_header"><img src="/images/doblezizq.png"/></div>
					<a href="/"><img class="logomarca" src="/images/logo.png"/></a>
					<div id="right_header"><img src="/images/doblezder.png"/></div>				
				</div>
      	<div id="sub_content">
      		<%- flash.each do |name, msg| -%>
        		<%= content_tag :div, msg, :id => "flash_#{name}" %>
		      <%- end -%>      
		      <%- if show_title? -%>
		        <h1><%=h yield(:title) %></h1>
		      <%- end -%>		    
		      
		      <%= yield %>
		      
      	</div>      	
      </div>
      <div class="clearfooter"></div>
    </div>
    	<div id="footer">
    		<div id="city"></div>
    		<div id="info">
    			<ul>
    			<li><a href="about">¿Quiénes somos?</a></li><li><a href="/contact-us">Contáctanos</a></li><li><a href="#">Privacidad</a></li>
	    		<li><a href="http://www.innku.com">Innku</a></li>
	    		</ul>
    		</div>
    	</div>    	
  </body>
</html>
