<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Administración de Condominios") %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'ui.selectmenu' %>
    <%= stylesheet_link_tag 'jquery-ui-1.7.2.custom' %>
    <%= javascript_include_tag 'jquery-1.3.2' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'jquery.rest_in_place' %>
    <%= javascript_include_tag 'jquery-ui-1.7.2.custom.min' %>
    <%= javascript_include_tag 'ui.selectmenu' %>
    <%= yield(:head) %>
   
  </head>
  <body>
    <div id="main_container">      
      <div id="sub_container">
      	<div id="signin">					
					<% if admin? %>
						<p>Bienvenido <%= link_to current_user.name, user_path(current_user) %> | <%= link_to "Salir", logout_path %> | <%= link_to "Administración", users_path %></p>
						<% elsif logged_in? %>
							Bienvenido <%= link_to current_user.name, user_path(current_user) %> | <%= link_to "Salir", logout_path %></p>
						<% else %>
							<a href="/signup" id="signup" class="options"><img src="/images/signupbtn.png"></a>
							<a href="/login" id="login" class="options"><img src="/images/loginbtn.png"></a>
					<% end %>					
		 		</div>
  	    <div id="header">
   	 			<div id="left_header"><img src="/images/doblezizq.png"/></div>
					<a href="/"><img class="logomarca" src="/images/logo.png"/></a>
					<div id="right_header"><img src="/images/doblezder.png"/></div>				
				</div>
      	<div id="sub_content">
      		<%- flash.each do |name, msg| -%>
        		<%= content_tag :div, msg, :id => "flash_#{name}" %>
		      <%- end -%>      
		      <%- if show_title? -%>
		        <h1><%=h yield(:title) %></h1>
		      <%- end -%>
		      <%= yield %>
      	</div>
      	<div id="city"><img src="/images/ciudad.png"/></div>
      </div>
    </div>
    <div id="footer">
    	<div id="info">
	    	<a href="#">¿Quiénes somos? </a>/<a href="#"> Contáctanos </a>/<a href="#"> Privacidad </a>/
	    	<a href="http://www.innku.com">Innku</a>    		
    	</div>
    </div>
  </body>
</html>
